.card{
  margin-top: 50px ;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}


.card h3{
  position: absolute;
  font-size: 40px;
  left: 10px;
  top: -30px;
}

.card img {
  width: 300px;
  height: 300px;
  border-radius: 4px;
}
.data {
  width: 60%;
	height: 100%;
}

.content {
  padding: 25px 0px 10px 0px;
  position: relative;
  background-color: rgba(40, 75, 99, .95);
  border-radius: 4px;
  color: #d9d9d9;  
}

#text {
  text-align: left;
  font-size: 20px;
  color: #d9d9d9;
  padding: 0px 30px 0px 0px;
}

#text:not(){
  opacity: .9;
}

table, td, th {
  margin: 10px;
  padding: 15px 0px 0px 0px;
}

span {
  background-color:#3c6e71 ;
  color: ;
  margin-left: 10px;
  padding: 5px 5px 5px 5px;
  border-radius: 4px;
}
