.floating-btn {
  position: absolute;
  top: 15px;
  left: 35px;
  width: 50px;
  height: 50px;
  border-radius: 50% ;
  opacity: .9;
  background: #3c6e71;
  border-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;    
}

nav {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #284b63;
  opacity: .9;
  transition: transform 0.7s ease-in-out;
}

nav.active {
  transform: translateX(0%)
}

.tags {
  color: #fff;
  display: block;
  padding: 70px 25px;
  font-size: 50px;
  text-decoration: none;
}
nav a :first-of-type{
  margin-top: 100px;
}
.close-curtain {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #fff;
  background: #3c6e71;
  border-radius: 50%;
}

@media screen and (max-width: 2500px){
  nav {
      transform: translateX(-100%);
  }
}