.maincomponent {
  background-color: #FFFFFF ;
  color: #353535;
  margin-top: 100px;
  padding: 50px 50px;
  margin-left: 350px;
  margin-right: 350px;

}

select#Schools {
  background-color:#284b63;
  color:#fff;
  font-size: 30px;
  display: inline-block;
  border-radius: 4px;
  line-height: 1.5em;
  padding: 0.5em 2.7em 0.5em 0.5em;
  cursor: pointer;


  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.school{
  background-image:
  linear-gradient(45deg, transparent 50%, #fff 50%),
  linear-gradient(135deg, #fff  50%, transparent 50%),
  linear-gradient(to right, #3c6e71, #3c6e71);
background-position:
  calc(100% - 35px) calc(1em + 2px),
  calc(100% - 25px) calc(1em + 2px),
  100% 0;
background-size:
  10px 10px,
  10px 10px,
  2.5em 2.5em;
background-repeat: no-repeat;
}

select.option{
  cursor: pointer;

}